.banner-page{
    width: $width;
    //background: $background_banner;
    // border-radius:0 0 70% 0;
    .page-title{
        color: whitesmoke;
        padding: 5px;
        font-weight: bold;
    }
}