$width:100%;
$navHeight:70px;
$important:!important;
$background:linear-gradient(135deg, #64B5F6 0%,#2196F3 50%,#1976D2 60%,#0D47A1 100%); 
$background_banner:linear-gradient(165deg, #B3E5FC 0%,#2196F3 50%,#29B6F6 70%,#64B5F6 100%);
$background_wrapper:linear-gradient(145deg, #FAFAFA 0%,#2196F3 50%,#29B6F6 60%,#FAFAFA 100%);