@import 'global';
.wrapper{
    background: white;
    }
    hr{
        max-width: 250px;
        color: black;
        height: 4px;
        background-color: #FFC400;
    }
    .active a{
        border-bottom: solid 5px white;
        padding-bottom:2px;
        color: white;
    }
    .bg-smile{ 
        background:$background; 
    }
    .navbar{
        width: $width;
        height: $navHeight;
    }
    .navbar a{
        font-weight: bold;
    }
    .banner{
        width: $width;
        height: 600px;
        background: $background_banner;
        // border-radius:0 0 70% 0;
    }
    .title{
        color: #5d5d60;
        font-weight: bold;
    }
    .content{
        margin-top: 20px;
    }
    .card{
        margin-bottom: 100px;
        //border: solid 6px #607D8B;
        box-shadow: #0091EA 20px 20px;
    }
    .card-box{
        box-shadow: #FFC400 12px 12px;
        width: 100%;
        height: 100%;
    }
    .nav-link span{
        font-size: 22px;
    }
    .nav-link i{
        font-size: 30px;
        color: white;
    }
    .nav-link i:hover{
        font-size: 30px;
        color: rgb(83, 83, 83);
    }
    .txt-landing-page{
        margin-top: 25vh;
        text-align: center;
    }
    .txt-landing-page h1{
        color: #e4e4e4;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }
    .txt-landing-page h3{
        color: #d1d1d1;
        font-size: 20px;
        text-align: center;
    }
    .btn-more{
        color: #e4e4e4 !important;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border-radius:40px 40px 40px 40px;
        background: #6f6f6f;
    }
    .btn-more:hover{
        background: #929294;
    }