#media-sosial{
    width: 65px;
    position: fixed;
    z-index: 2;
    left: 0;
    //background: #cec7c7;
    height: 250px;
    top: 30vh;
    
}
#media-sosial a{
    font-size: 30px;
    color: black;
    opacity: 0.3;
}
#media-sosial a:hover{
    opacity: 0.5;
}