#media-sosial{
    width: 65px;
    position: fixed;
    z-index: 2;
    left: 0;
    height: 250px;
    top: 30vh;
    a{
        font-size: 30px;
        color: black;
        opacity: 0.3;
    }
    a:hover{
        opacity: 0.5;
    }
    @media(max-width:600px){
            display: none;
    }
    @media(max-width:400px){
        display: none;
}
    
}



//footer media sosial
#media-sosial-footer{
display: none;
}
#media-sosial-footer a{
    font-size: 30px;
    color: black;
    opacity: 0.3;
}
#media-sosial-footer a:hover{
    opacity: 0.5;
}

@media(max-width:$w-600){
    #media-sosial-footer{
        display: block;
        background: #efefef !important;
    }
}