.page-content{
    margin-top: 50px;
    h3{
        color: $title;
    }
}
.icon-media{
    font-size: 25px;
}
.color-black{
    color: black;
    font-weight: normal;
}
.over-line{
    background-color: black;
    width: 100%;
    height: 1px;
    margin-top: 10px;
}
.label-message{
    font-size: 18px;
}