.side-menu{
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background: white;
    height: 100%;
    top: 0;
    transition: all 0.5s;
    overflow-x: hidden;
    #closeMenu{
        color: #616161;
        font-size: 30px;
        :hover{
            color: #212121;
        }
    }
    .content-menu{
        position: fixed;
        .active{
            color: black;
            border-bottom: black solid 2px;
        }
        .active-child{
            color: black;
        }
        a{
            padding: 8px 8px 0 0;
            color: #616161;
            font-weight: bold;
            font-size: 20px;
            display: block;
            text-decoration: none;
        }
        a:hover{
            color: #212121;
        }
        .with-border{
            border-bottom: red solid 0.5px;
        }
    }
        .sub-box{
            a{
                color: #908282;
            }
        }
}