$title_color:#616161;
$footer_background:#EEEEEE;
$background:linear-gradient(135deg, rgb(200, 229, 253) 0%,#2196F3 50%,#1976D2 60%,rgb(32, 91, 179) 100%); 
$background_nav:linear-gradient(165deg, #FAFAFA 0%,#212121 50%,#212121 100%);
$background_banner:linear-gradient(165deg, #B3E5FC 0%,#2196F3 50%,#29B6F6 70%,#64B5F6 100%);
$background_wrapper:linear-gradient(145deg, #FAFAFA 0%,#2196F3 50%,#29B6F6 60%,#FAFAFA 100%);;